body{
  background: url("backdrop.jpg");
}

.jumbotron{
  background-color: skyblue;
}

.current,.add{
  font-size: 20px;
}

#trainTable{
  color: black;
  font-size:15px;
  font: bold;
}

#trainNameInput,#destinationInput,#timeInput,#frequencyInput{
  color: black;
  font-size:18px;
}

.form-group{
  color: black;
  font-size:20px;
}

.btn{
  font-size:20px;
}






